



.card-img{
/*width:20rem;
text-align:center;*/
width: 213px;
height: 213px;
border-radius: 20%;
margin: auto auto;
padding-top: 0.3rem;
}
.card{
margin-left: 0.3rem;
margin-bottom: 1rem;
width: 100%;

}
.card:hover{
box-shadow: 1px 1px 1px 1px #444;
cursor:pointer;
}
.card-flex{
display:flex;
justify-content: center;
margin-top:2rem;
}
.header-hero{
margin-top:1rem;
margin-bottom:1rem;
text-align:center;
}
/* media queries for iphones */
/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
.card-flex{
display:flex;
justify-content: center;
margin-top:2rem;
flex-direction:column;
}
.row {
 /* one columns to start */
  @include row-cols(1);
  }
}

/* Portrait */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
  .card-flex{
display:flex;
justify-content: center;
margin-top:2rem;
flex-direction:column;
}
.social-media-icons{
display: flex;
flex-direction: column;
align-content: center;
justify-content: center;
align-items:center;

}
.row {
 /* one columns to start */
  @include row-cols(1);
  }
}

/* Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
  .card-flex{
display:flex;
justify-content: center;
margin-top:2rem;
flex-direction:column;
}
.row {
 /* one columns to start */
  @include row-cols(1);
  }
  .social-media-icons{
display: flex;
flex-direction: row;
align-content: center;
justify-content: center;
align-items:center;

}

}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
  .card-flex{
display:flex;
justify-content: center;
margin-top:2rem;
flex-direction:column;
}
.row {
 /* one columns to start */
  @include row-cols(1);
  }
  .social-media-icons{
display: flex;
flex-direction: column;
align-content: center;
justify-content: center;
align-items:center;

}

}

/* Portrait */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
  .card-flex{
display:flex;
justify-content: center;
margin-top:2rem;
flex-direction:column;
}
.row {
 /* one columns to start */
  @include row-cols(1);
  }
  .social-media-icons{
display: flex;
flex-direction: column;
align-content: center;
justify-content: center;
align-items:center;

}
}

/* Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
  .card-flex{
display:flex;
justify-content: center;
margin-top:2rem;
flex-direction:column;
}
.row {
 /* one columns to start */
  @include row-cols(1);
  }
  .social-media-icons{
display: flex;
flex-direction: row;
align-content: center;
justify-content: center;
align-items:center;

}

}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {
  .card-flex{
display:flex;
justify-content: center;
margin-top:2rem;
flex-direction:column;
}
.row {
 /* one columns to start */
  @include row-cols(1);
  }
  .social-media-icons{
display: flex;
flex-direction: column;
align-content: center;
justify-content: center;
align-items:center;

}

}

/* Portrait */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
  .card-flex{
display:flex;
justify-content: center;
margin-top:2rem;
flex-direction:column;
}
.row {
 /* one columns to start */
  @include row-cols(1);
  }
  .social-media-icons{
display: flex;
flex-direction: column;
align-content: center;
justify-content: center;
align-items:center;

}

}

/* Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
  .card-flex{
display:flex;
justify-content: center;
margin-top:2rem;
flex-direction:column;
}
.row {
 /* one columns to start */
  @include row-cols(1);
  }
  .social-media-icons{
display: flex;
flex-direction: row;
align-content: center;
justify-content: center;
align-items:center;

}

}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3) {
  .card-flex{
display:flex;
justify-content: center;
margin-top:2rem;
flex-direction:column;
}
.row {
 /* one columns to start */
  @include row-cols(1);
  }
  .social-media-icons{
display: flex;
flex-direction: column;
align-content: center;
justify-content: center;
align-items:center;

}

}

/* Portrait */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {
  .card-flex{
display:flex;
justify-content: center;
margin-top:2rem;
flex-direction:column;
}
.row {
 /* one columns to start */
  @include row-cols(1);
  }
  .social-media-icons{
display: flex;
flex-direction: column;
align-content: center;
justify-content: center;
align-items:center;

}

}

/* Landscape */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) {
  .card-flex{
display:flex;
justify-content: center;
margin-top:2rem;
flex-direction:column;
}
.row {
 /* one columns to start */
  @include row-cols(1);
  }
  .social-media-icons{
display: flex;
flex-direction: row;
align-content: center;
justify-content: center;
align-items:center;

}

}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3) {
  .card-flex{
display:flex;
justify-content: center;
margin-top:2rem;
flex-direction:column;
}
.row {
 /* one columns to start */
  @include row-cols(1);
  }
  .social-media-icons{
display: flex;
flex-direction: column;
align-content: center;
justify-content: center;
align-items:center;

}

}

/* Portrait */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {
  .row {
 /* one columns to start */
  @include row-cols(1);
  }
  .social-media-icons{
display: flex;
flex-direction: column;
align-content: center;
justify-content: center;
align-items:center;

}

}

/* Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) {
  .card-flex{
display:flex;
justify-content: center;
margin-top:2rem;
flex-direction:column;
}
.row {
 /* one columns to start */
  @include row-cols(1);
  }
  .social-media-icons{
display: flex;
flex-direction: row;
align-content: center;
justify-content: center;
align-items:center;

}

}

