



.card-img{
/*width:20rem;
text-align:center;*/
width: 213px;
height: 213px;
border-radius: 20%;
margin: auto auto;
padding-top: 0.3rem;
}
.card{
margin-left: 0.3rem;
margin-bottom: 1rem;
width: 100%;

}
.card:hover{
box-shadow: 1px 1px 1px 1px #444;
cursor:pointer;
}
.card-flex{
display:flex;
justify-content: center;
margin-top:2rem;
}
.header-hero{
margin-top:1rem;
margin-bottom:1rem;
text-align:center;
}


